@font-face {
  font-family: 'Bebas_Neue_Cyrillic';
  src: url('../fonts/Bebas_Neue_Cyrillic.eot');
  src: url('../fonts/Bebas_Neue_Cyrillic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Bebas_Neue_Cyrillic.woff') format('woff'),
  url('../fonts/Bebas_Neue_Cyrillic.ttf')  format('truetype'),
  url('../fonts/Bebas_Neue_Cyrillic.svg#svgFontName') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BebasNeue Bold';
  src: url('../fonts/BebasNeue Bold.eot');
  src: url('../fonts/BebasNeue Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/BebasNeue Bold.woff') format('woff'),
  url('../fonts/BebasNeue Bold.ttf')  format('truetype'),
  url('../fonts/BebasNeue Bold.svg#svgFontName') format('svg');
  font-weight: normal;
  font-style: normal;
}
