@import 'fonts';

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
}

h3 {
  font-family: 'BebasNeue Bold', sans-serif;
  font-size: 30px;
  line-height: 30px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a:hover, a:focus, button:hover, button:focus {
  outline: none;
}

.header-nav-wrapper {
  height: 56px;
}

.header-nav {
  background: url("../img/nav-bg.png") no-repeat;
  background-size: cover;
  padding: 19px 0 18px;
  position: relative;
}

.sticky {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  -webkit-animation: slide-nav .5s ease;
  -moz-animation: slide-nav .5s ease;
  animation: slide-nav .5s ease;
}

@media (min-width: 600px) and (max-width: 782px) {
  .admin-bar .sticky {
    top: 46px;
  }
}

@media (min-width: 783px) {
  .admin-bar .sticky {
    top: 32px;
  }
}

@-webkit-keyframes slide-nav {
  from {
    -webkit-transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes slide-nav {
  from {
    -moz-transform: translateY(-100%);
  }
  to {
    -moz-transform: translateY(0);
  }
}

@keyframes slide-nav {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.header {
  background: url("../img/header-bg.jpg") no-repeat;
  background-size: cover;
  border-bottom: 3px solid #242422;
  padding: 4px 0 85px;

  @media (max-width: 767px) {
    padding-bottom: 30px;
  }
}

#primary-menu {

  &:after {
    content: '';
    display: table;
    clear: both;
  }

  li {
    float: left;
    display: block;
    margin: 0 5px;

    a {
      font-family: 'Bebas_Neue_Cyrillic', sans-serif;
      font-size: 19px;
      line-height: 19px;
      display: block;
      color: #fff;
      text-transform: uppercase;
      text-decoration: underline;
      position: relative;
    }
  }
  li:hover a,
  li.current-menu-item a {
    color: #ffcf00;
    text-decoration: none;

    @media (min-width: 768px) {
      &:after {
        content: '';
        display: block;
        width: 23px;
        height: 23px;
        background: #278fca;
        position: absolute;
        left: 50%;
        margin-left: -11.5px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
  }
}

.toggle {
  display: none;
  float: right;
  padding: 0;
  height: 20px;
  background: none;
  border: none;

  span {
    display: block;
    width: 20px;
    height: 2px;
    background: #fff;
    margin: auto;
    position: relative;

    &:before, &:after {
      content: '';
      display: block;
      width: 20px;
      height: 2px;
      background: #fff;
      position: absolute;
    }

    &:before {
      top: -5px;
    }

    &:after {
      bottom: -5px;
    }
  }
}

@media (min-width: 768px) {
  .nav {
    display: block !important;
  }
}

@media (max-width: 767px) {
  .nav {
    display: none;
    position: absolute;
    top: 38px;
    background: #278FCA;
    z-index: 9999;
    width: 100%;
    left: 0;
    border-top: 1px solid #222;

  }
  .toggle {
    display: block;
  }

  #primary-menu {

    li {
      display: block;
      float: none;
      margin: 0;

      a {
        display: block;
        padding: 10px 15px;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid #27659b;
      }

      &:first-child a {
        border-top: 0;
      }

      &:last-child a {
        border-bottom: 0;
      }
    }
  }
}

.adr {
  margin-top: 50px;
  font-family: 'BebasNeue Bold', sans-serif;
  font-size: 21px;
  line-height: 30px;
  font-style: normal;
  color: #fff;

  .adr-icon {
    display: inline-block;
    width: 24px;
    height: 39px;
    background: url("../img/icons/address-icon.png") no-repeat;
    margin-right: 20px;
    margin-bottom: -9px;
  }
}

.feedback {
  text-align: center;

  @media (min-width: 992px) and (max-width: 1200px) {
    button {
      padding: 0 25px;
    }
  }
}

.phone {
  display: inline-block;
  font-family: 'BebasNeue Bold', sans-serif;
  font-size: 35px;
  line-height: 36px;
  color: #fff;
  margin-top: 18px;
  margin-bottom: 5px;
}

@media (max-width: 991px) {
  .logo, .adr {
    text-align: center;
  }

  .adr {
    margin-top: 20px;
  }
  .phone {
    display: block;
  }
}

.primary-btn {
  font-size: 12px;
  text-transform: uppercase;
  line-height: 39px;
  border: none;
  border-radius: 3px;
  background-image: -moz-linear-gradient(90deg, rgb(211, 168, 9) 0%, rgb(255, 242, 0) 100%);
  background-image: -webkit-linear-gradient(90deg, rgb(211, 168, 9) 0%, rgb(255, 242, 0) 100%);
  background-image: -ms-linear-gradient(90deg, rgb(211, 168, 9) 0%, rgb(255, 242, 0) 100%);
  padding: 0 35px;
  -webkit-box-shadow: inset 0 -3px 2px #ce8a14, 0 3px 12px rgba(213, 172, 9, .68);
  -moz-box-shadow: inset 0 -3px 2px #ce8a14, 0 3px 12px rgba(213, 172, 9, .68);
  box-shadow: inset 0 -3px 2px #ce8a14, 0 3px 12px rgba(213, 172, 9, .68);

  &:hover {
    background: #ce8a14;
  }
}

.shake:hover {
  animation: shakeThatBooty 0.3s linear 1;
  -webkit-animation: shakeThatBooty 0.3s linear 1;
  -moz-animation: shakeThatBooty 0.3s linear 1;
  -o-animation: shakeThatBooty 0.3s linear 1;
}

@keyframes shakeThatBooty {
  33% {
    transform: rotateZ(10deg);
    -webkit-transform: rotateZ(10deg);
    -moz-transform: rotateZ(10deg);
    -o-transform: rotateZ(10deg);
    -ms-transform: rotateZ(10deg);
  }
  67% {
    transform: rotateZ(-10deg);
    -webkit-transform: rotateZ(-10deg);
    -moz-transform: rotateZ(-10deg);
    -o-transform: rotateZ(-10deg);
    -ms-transform: rotateZ(-10deg);
  }
  100% {
    transform: rotateZ(10deg);
    -webkit-transform: rotateZ(10deg);
    -moz-transform: rotateZ(10deg);
    -o-transform: rotateZ(10deg);
    -ms-transform: rotateZ(10deg);
  }
}

.intro-text {
  text-align: center;
  color: #fff;
  margin-top: 37px;

  h1 {
    font-family: 'BebasNeue Bold', sans-serif;
    font-size: 48px;
    line-height: 60px;

    .big {
      font-size: 60px;
      &.yellow {
        color: #f9ce06;
      }
    }

    &:after {
      content: '';
      display: block;
      width: 90px;
      height: 3px;
      background: #f9ce06;
      margin: 10px auto 0;
    }
  }
  h3 {

    &:after {
      content: '';
      display: block;
      width: 45px;
      height: 3px;
      background: #f9ce06;
      margin: 20px auto 0;
    }
  }
}

.header-panel {
  max-width: 849px;
  background: #fff;
  margin: 0 auto;
  padding: 14px 0 15px;

  ul {
    text-align: center;

    li {
      display: inline-block;
      color: #536ea3;
      font-size: 17px;
      line-height: 20px;
      margin-left: 10px;

      &:first-child {
        margin-left: 0;
      }

      &:before {
        content: '';
        display: inline-block;
        width: 10px;
        height: 10px;
        background: #536ea3;
        margin-right: 6px;
      }
    }
  }
}

.middle {
  padding: 50px 0 25px;
}

.action-wrapper {
  max-width: 1076px;
  margin: 0 auto 67px;
  background: url("../img/prize-bg.jpg") no-repeat;
  background-size: cover;
  border: 5px solid rgb(83, 110, 163);
  border-radius: 5px;
  text-align: center;
  position: relative;
  padding: 0 15px;

  h3 {
    line-height: 40px;
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.75);
    margin: 25px 0 15px;
    color: #fff;
  }
  > p {
    font-family: 'Bebas_Neue_Cyrillic', sans-serif;
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 10px;
    color: #fff;
  }

  .action-icon {
    font-family: 'BebasNeue Bold', sans-serif;
    font-size: 43px;
    display: block;
    background: url("../img/action.png") no-repeat;
    width: 119px;
    height: 120px;
    position: absolute;
    top: 0;
    right: 13px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-style: normal;
    padding-top: 20px;
  }
}

#wpcf7-f24-o1 {
  margin: 25px 0;

  br {
    display: none;
  }

  input {
    max-width: 245px;
  }

  .wpcf7-form-control-wrap {
    display: inline-block;
    margin-left: 45px;

    &:first-child {
      margin-left: 0;
    }
  }

  @media (max-width: 991px) {
    .wpcf7-form-control-wrap {
      display: block;
      margin: 0 0 25px;
    }
    input {
      width: 100%;
      max-width: 100%;
      margin: 0;
    }
  }
}

.wpcf7-not-valid-tip {
  position: absolute;
  left: 0;
  @media (max-width: 991px) {
    left: 15px;
  }
}

.wpcf7-response-output {
  color: #000;
}

.wpcf7-validation-errors {
  background: #f7e700;
}

.wpcf7-mail-sent-ok {
  background: #398f14;
}

.form-control {
  border-radius: 3px;
  background: #fff;
  border: none;
  padding: 7px 30px;
  font-size: 17px;
}

.submit-btn {
  max-width: 275px;
  height: 50px;
  font-size: 14px;
  margin-left: 45px;

  @media (max-width: 991px) {
    margin-left: 0;
  }
}

.form-control::-webkit-input-placeholder {
  color: #9c9c9c;
}

.form-control::-moz-placeholder {
  color: #9c9c9c;
}

.form-control:-moz-placeholder {
  color: #9c9c9c;
}

.form-control:-ms-input-placeholder {
  color: #9c9c9c;
}

.client-title {
  font-family: 'BebasNeue Bold', sans-serif;
  font-size: 50px;
  line-height: 50px;
  display: block;
  background: #05a3eb;
  color: #fff;
  text-align: center;
  padding: 20px 0 10px;
  margin: 40px 0;
}

.clients-list {
  overflow: hidden;
  text-align: center;

  li {
    display: inline;

    img {
      margin: 0 17px 25px;

      @media (min-width: 992px) and (max-width: 1200px) {
        margin: 0 10px 25px;
      }
    }

    @media (min-width: 992px) {
      &:nth-child(5n):after {
        content: "\A";
        white-space: pre;
      }
    }

    @media (max-width: 991px) {
      &:nth-child(2n):after {
        content: "\A";
        white-space: pre;
      }
    }
    @media (max-width: 767px) {
      &:nth-child(1n):after {
        content: "\A";
        white-space: pre;
      }
    }
  }
}

.about-us {
  background: url("../img/shrp-bel-bg.jpg") no-repeat;
  background-size: cover;
  padding: 103px 0 191px;

  @media (max-width: 767px) {
    padding: 30px 0;
  }

  .about-us-title {
    font-family: 'BebasNeue Bold', sans-serif;
    font-size: 72px;
    line-height: 46px;
    color: #fff;
    text-align: center;
    margin: 0 0 55px;
  }
}

.about-us-wrapper {
  max-width: 895px;
  background: rgba(83, 110, 163, .68);
  margin: auto;
  padding-top: 55px;
}

.about-us-list {
  overflow: hidden;

  .about-us-list-item {
    text-align: center;
    color: #fff;
    padding: 0 30px;

    p {
      font-size: 17px;
      line-height: 20px;

      &:before {
        content: '';
        display: block;
        width: 90px;
        height: 3px;
        margin: auto;
        background: #F9CE06;
        margin-bottom: 10px;
      }
    }
  }

  @media (min-width: 992px) {
    .about-us-list-item {
      width: 33.33%;
      float: left;

      &:nth-child(3n+1) {
        clear: both;
      }
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .about-us-list-item {
      width: 50%;
      float: left;

      &:nth-child(2n) {
        clear: both;
      }
    }
  }
}

img.cover {
  margin-left: -275px;

  @media (min-width: 992px) and (max-width: 1200px) {
    margin-left: -375px;
  }

  @media (max-width: 991px) {
    width: 100%;
    margin: 0;
  }
}

#gasification {
  h3 {
    color: #05a3eb;
    margin-bottom: 40px;
  }
  h4 {
    font-family: 'BebasNeue Bold', sans-serif;
    font-size: 24px;
    line-height: 28px;
    color: #fff;
    background: #05a3eb;
    padding: 8px 17px 3px;
    margin-bottom: 15px;
  }
}

.services-list {
  margin-bottom: 75px;

  li {
    padding-left: 40px;
    position: relative;
    line-height: 25px;
    margin-bottom: 5px;

    img {
      position: absolute;
      left: 5px;
    }
  }

  @media (max-width: 767px) {
    margin-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}

.about-us-list-item {
  visibility: hidden;
}

.animated {
  visibility: visible;
}